<div>
  <button mat-button [matMenuTriggerFor]="aboveMenu">Cadastro</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item (click)="cadastroCliente()">Clientes</button>
    <button mat-menu-item (click)="cadastroProduto()">Produtos</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="belowMenu">Movimentação</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item (click)="movimentacaoVenda()">Vendas</button>
  </mat-menu>

</div>
