<div>
    <form [formGroup]="form" fxFlex="60" fxFlexOffset="20" novalidate>
        <mat-list fxFlex="80">
            <mat-list-item>
                <mat-form-field>
                    <mat-select placeholder="Clientes" 
                                formControlName="cliente"
                                [(value)]="clienteId">
                        <mat-option
                            *ngFor="let cliente of clientesArray"
                            [value]="cliente.id"
                        >
                            {{ cliente.nome }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-list-item>

            <mat-list-item>
                <mat-form-field style="width: 25%">
                    <input matInput [matDatepicker]="data" 
                        placeholder="Data" readonly="readonly"
                        formControlName="data">
                    <mat-datepicker-toggle matSuffix
                        [for]="data"></mat-datepicker-toggle>
                    <mat-datepicker touchUi="true" #data ></mat-datepicker>
                </mat-form-field>
            </mat-list-item>
        </mat-list>
        <mat-list fxFlex="20">
            <mat-list-item>
                <button mat-raised-button color="primary" (click)="atualizar()" >
                    Salvar
                </button>
            </mat-list-item>
            <mat-list-item >
                <a mat-button color="primary" routerLink="/venda/listagem">Voltar</a>
            </mat-list-item>
        </mat-list>
        
    
        
    </form>
</div>

<div class="example-container">
    <form [formGroup]="formProdutos" fxFlex="60" fxFlexOffset="20" novalidate>
        <mat-list>
            <mat-list-item fxFlex="60">
                <mat-form-field >
                    <mat-select placeholder="Produtos" #matSelectProduto
                                formControlName="produto">
                        <mat-option
                            *ngFor="let produto of produtosArray"
                            [value]="produto"
                        >
                            {{ produto.descricao }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-list-item>
            
            <mat-list-item fxFlex="15">
                <mat-form-field >
                    <input type="number" matInput placeholder="Qtd" formControlName="qtde">
                  </mat-form-field>
            </mat-list-item>
    
            
            <mat-list-item fxFlex="20">
                <mat-form-field >
                    <input matInput placeholder="Valor Unitário" formControlName="valorUnitario" [textMask]="{mask: MASKS.number.textMask }">
                </mat-form-field>
            </mat-list-item>
            
    
            <mat-list-item fxFlex="5">
                <a (click)="adicionarProduto()" style="cursor: pointer;">
                    <mat-icon matTooltip="Adicionar produto na lista">add_circle</mat-icon>
                </a>
                
            </mat-list-item>
        </mat-list>
        
        
    </form>
    
</div>
<div>
    <mat-table [dataSource]="dataSource" fxFlex="80" fxFlexOffset="10">
        <ng-container matColumnDef="descricao">
            <mat-header-cell *matHeaderCellDef>
                Produto
            </mat-header-cell>
            <mat-cell *matCellDef="let vendaItemLista">
                {{ vendaItemLista.produto.descricao }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="qtd">
            <mat-header-cell *matHeaderCellDef>
                Quantidade
            </mat-header-cell>
            <mat-cell *matCellDef="let vendaItemLista">
                {{ vendaItemLista.qtde }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="valorunitario">
            <mat-header-cell *matHeaderCellDef>
                Valor Unitário
            </mat-header-cell>
            <mat-cell *matCellDef="let vendaItemLista">
                {{ vendaItemLista.valorUnitario }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="valortotal">
            <mat-header-cell *matHeaderCellDef>
                Valor Total
            </mat-header-cell>
            <mat-cell *matCellDef="let vendaItemLista">
                {{ vendaItemLista.valorTotal }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acao">
            <mat-header-cell *matHeaderCellDef>Ação</mat-header-cell>
            <mat-cell *matCellDef="let vendaItem">
                <a (click)="alterarProduto(vendaItem)" style="cursor: pointer;">
                    <mat-icon matTooltip="Editar lançamento">create</mat-icon>
                </a>
                <a (click)="excluirProduto(vendaItem)"  style="cursor: pointer;">
                    <mat-icon matTooltip="Remover lançamento">clear</mat-icon>
                </a>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: colunas"></mat-row>
    </mat-table>
</div>

